/* @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700;800&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;800;900&family=IBM+Plex+Mono:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;800;900&family=IBM+Plex+Mono:wght@300;500&display=swap');

@font-face {
	font-family: 'fontbase';
	/* src: url('/fonts/FbReformaNarrow-Lightwebfont.woff'); */
	src: url('/fonts/FbReformaNarrow-Regularwebfont.woff');
}

* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	background-color: #fffcf096;
	/* font-family: "Assistant", sans-serif; */
	font-family: 'fontbase';
	direction: rtl;
}

.__react_component_tooltip {
	max-width: 250px;
	white-space : normal;
}

.hide {
	display: none;
}

.website-content {
	padding-top: 80px;
}

/* Scrollbar */
:root {
	--scroll-bar-size: 10px;
	--scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);
	--scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
	width: var(--scroll-bar-size);
	height: var(--scroll-bar-size);
	background: 0 0;
	cursor: pointer;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-thumb-background-color);
	border-radius: var(--scroll-bar-size);
	border-color: transparent;
	border-style: solid;
	border-width: calc(var(--scroll-bar-size) / 3);
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active {
	background-color: var(--scroll-bar-thumb-background-color-active);
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	border-width: 1px;
	background-color: var(--scroll-bar-thumb-background-color-active);
	cursor: pointer;
}

/* Grid */
.container {
	max-width: 1500px;
	margin: auto;
	display: flex;
}

a {
	text-decoration: none;
	color: #121212;
}

.container .container-content {
	width: 100%;
}

.cute-btn {
	padding: 10px 20px;
	background-color: #4caf50;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 900;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.cute-btn:hover {
	background-color: #419544;
}
/* Header */
#header {
	background-color: #0b9148;
	padding: 20px 25px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999999;
	color: #fff
}

#header-left {
	display: flex;
	align-items: center;
}

#header-search-wrap {
	margin-left: 30px;
	margin-top: -5px;
	display: flex;
	align-items: center;
	position: relative;
}

#header-search-wrap > input[type="text"] {
	border: none;
	padding: 10px 15px;
	width: 250px;
	border-radius: 50px;
}

#header-search-wrap input[type="text"]::placeholder {
	font-family: 'fontbase';
	font-size: 1.1rem;
}

#header-search-wrap > .icon {
	font-size: 1.3rem;
	margin-top: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	color: #25d366
}

#header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#mobile-menu-tog {
	display: none;
}

#header-right {
	display: flex;
	align-items: center;
}

#header-links {
	font-size: 20px;
	font-weight: 600;
}

.header-link {
	margin-left: 25px;
	position: relative;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.header-link.active:after {
	content: "";
	position: absolute;
	top: calc(100% + 7px);
	right: 0;
	left: 0;
	height: 2px;
	background: #fff;
}

.dropdown-link span {
	display: flex;
	align-items: center;
}

.dropdown-link span svg {
	margin-right: 5px;
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
	background-color: #fff;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 0 0 30px #9a9a9a3b;
	display: flex;
	transition: 0.3s ease-in-out;
	margin-top: 37px;
	padding: 20px;
}

.dropdown a {
	margin-bottom: 7px;
}

#header-logo {
	display: flex;
	align-items: center;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 15px
}

#header-logo img {
	height: 140px;
	cursor: pointer;
}

#header-cart-icon {
	position: relative;
	cursor: pointer;
	user-select: none;
}

#header-cart-icon .icon {
	font-size: 35px;
}

#header-cart-icon .number {
	position: absolute;
	right: -5px;
	top: -5px;
	background-color: #fff;
	height: 22px;
	width: 22px;
	line-height: 22px;
	border-radius: 50%;
	text-align: center;
	color: #4caf51;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	left: 30px;
	/* background-color: #fff; */
	/* color: #25d366; */
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0 0 17px #5d5d5d94;
	z-index: 9999999;
	-webkit-animation: float 6s ease-in-out infinite;
	animation: float 6s ease-in-out infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}

#call-btn {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 65px;
	font-size: 1.4rem;
	position: fixed;
	bottom: 40px;
	right: 30px;
	z-index: 99999;
	box-shadow: 0 0 17px #5d5d5d94;
}

#header-bottom {
	position: fixed;
	left: 0;
	right: 0;
	top: 84px;
	background-color: #fff;
	z-index: 99999;
	box-shadow: 0 0 30px #9a9a9a3b;
}

#header-bottom .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

#header-bottom .header-bottom-link {
	font-size: 1.5rem;
	font-weight: 500;
	color: #121212;
	position: relative;
	padding: 20px 0;
}

#header-bottom-center {
	width: 50px
}

#header-bottom .right, #header-bottom .left {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

#header-bottom .header-bottom-link:not(:last-child):after {
	height: 23px;
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	bottom: 0;
	left: -50px;
	background-color: #dbdbdb;
	width: 1px;
}

.subcategories-menu {
	position: fixed;
	padding: 20px;
	border-radius: 0 0 8px 8px;
	top: 149px;
	box-shadow: 0 0 30px rgba(162, 162, 162, 0.359);
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	width: 330px;
	opacity: 0;
	display: none;
	transition: opacity 0.2s ease-in-out
}

.subcategories-menu.show {
	display: flex;
	opacity: 1;
}

.subcategories-menu-image img {
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(162, 162, 162, 0.359);
}

.subcategories-menu-links {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 1.2rem;
}

.subcategories-menu-links a {
	transition: 0.3s ease-in-out;
	border-radius: 30px;
	display: inline-block;
	padding: 4px 10px;
}

.subcategories-menu-links a:hover {
	background-color: #59cb59;
	color: #fff;
	
}

/* Footer */
#main-footer {
	padding: 20px;
	text-align: center;
	background-color: #121212;
	color: #fff;
	margin-top: 50px;
}

#main-footer a {
	color: #fff;
	font-weight: bold;
}

/* Cart */

#cart-bg {
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999997;
	display: none;
	transition: 0.4 s ease-in-out;
}

#cart-sum {
	margin-top: 10px;
}

#cart-bg.active {
	display: block;
}

#cart {
	position: fixed;
	width: 350px;
	top: 0;
	left: -350px;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0 0 30px #9a9a9a3b;
	z-index: 999999999;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: auto;
	transition: 0.4s ease 0.1s;
}

#cart.active {
	left: 0;
	transition: 0.3s ease-in-out;
}


#cart-title {
	display: flex;
	align-items: center;
	line-height: 0;
	margin-bottom: 20px;
}

#cart-title #cart-close-icon {
	margin-left: 10px;
	cursor: pointer;
}

/* Cart item */
.cart-item {
	display: flex;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 30px #9a9a9a3b;
	margin-top: 20px;
	align-items: center;
	position: relative;
}

.cart-item-remove {
	position: absolute;
	top: -10px;
	left: -10px;
	height: 25px;
	width: 25px;
	line-height: 30px;
	color: #fff;
	background-color: #d05649;
	text-align: center;
	border-radius: 50%;
	opacity: 0.8;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	box-shadow: 0 0 20px #9a9a9a3b;
}

.cart-item-remove:hover {
	opacity: 1;
}

.cart-item-pic img {
	height: 60px;
	width: 60px;
	object-fit: contain;
}

.cart-item-textuals {
	padding-right: 10px;
}

.cart-item-price {
	margin-right: 10px;
	float: left;
}

.cart-item-amount {
	width: 100%;
}

#cart .cart-item-amount {
	margin-top: 5px;
}

.cart-item-form-amount {
	display: flex;
	background-color: #fff;
	border-radius: 50px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}

#cart .cart-item-form-amount {
	width: 100px;
	justify-content: center;
}

.cart-item-form-amount-content {
	width: 100px;
	position: relative;
    display: flex;
    justify-content: center;
	margin: auto;
	margin-right: 0;
}

.cart-item-form-amount button {
	background-color: #3eb674;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	border: none;
}

.cart-item-form-amount input {
	border: none;
	text-align: center;
}

.cart-item-form-amount input::-webkit-outer-spin-button,
.cart-item-form-amount input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.cart-item-form-amount input {
	-moz-appearance: textfield;
}

.cart-item-form-plus {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.cart-item-form-minus {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

#cart-link-to-checkout {
	background: #3eb674;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 30px #9a9a9a3b;
	cursor: pointer;
}

/* Cart suggetions */
#cart-suggestions:not(.active) {
	left: -1000px
}

#cart-suggestions {
	position: fixed;
    height: 100vh;
    width: 700px;
    max-width: 100%;
    background: #e5fff0;
    left: 350px;
    z-index: 99999998;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 30px #3e3e3e40;
	transition: left 0.1s ease-in-out;
}

#cart-suggestions .product-showcase .product-showcase-image {
	height: 130px;
	max-height: 130px;
	position: relative;
}

#cart-suggestions.active {
	transition: left 0.4s ease 0.1s;
}

#cart-suggestions-textuals {
	text-align: center;
	margin-top: 30px;
	color: #2c2c2c;
}

#cart-suggestions-textuals h4 {
	font-weight: 400;
}

#cart-suggestions-textuals h3 {
	font-size: 1.8rem;
}

#cart-suggestions-showcases {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 15px;
	height: calc(100% - 100px);
	overflow-y: auto;
}

#cart-suggestions-showcases .cart-item-amount-wrap {
	display: none;
}

#cart-suggestions-showcases .product-showcase {
	width: 32%;
	box-sizing: border-box;
	padding: 10px 17px;
	margin-bottom: 30px;
}

#cart-suggestions-showcases .product-showcase-add-to-cart-form {
	justify-content: center;
	margin-top: 10px;
}

#cart-suggestions-showcases .product-showcase-name {
	font-size: 1rem;
}

#cart-suggestions-showcases .product-description {
	display: none;
}

#cart-suggestions-showcases .product-showcase .product-showcase-add-to-cart:not(.bottom) {
	display: none;
}

#cart-suggestions-showcases .product-showcase .product-showcase-image img {
	height: 100px;
}

#cart-suggestions-showcases .product-showcase .product-showcase-add-to-cart.bottom {
	position: absolute;
    bottom: -17px;
    height: 35px;
    /* width: 35px; */
    line-height: 42px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    padding: 0 10px;
	display: flex;
	align-items: center;
}

.add-to-cart-btn {
	padding: 10px;
	background-color: #47964b;
	color: #fff;
	font-weight: bold;
	border-radius: 7px;
	margin-top: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	box-shadow: 0 0 20px #bebebea3;
	height: 23px
}

.add-to-cart-btn:hover {
	box-shadow: 0 0 20px #b6b6b6;
	font-size: 1.1rem;
}

.add-to-cart-btn svg {
	margin-left: 10px;
}

.mobile-add-to-cart-btn {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	background-color: #0b9148;
	color: #fff;
	display: flex !important;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 11px;
	user-select: none;
	width: 50px;
	border-radius: 15px;
	box-sizing: border-box;
}

#header-search-results-wrap .mobile-add-to-cart-btn, #header-search-results-wrap .mobile-card-amount {
	top: 5px;
    bottom: 5px;
    left: 5px;
}

.mobile-card-amount {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	display: flex !important;
	flex-direction: column;
	width: 50px;
	text-align: center;
	user-select: none;
}

.mobile-card-amount > *, .desktop-card-amount > * {
	flex-grow: 1;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #ebebeb;
	width: 100%;
}

.mobile-card-amount > input {
	border-top: none;
	border-bottom: none;
}

.mobile-card-amount .cart-item-amount-btn, .desktop-card-amount .cart-item-amount-btn {
	color: #444
}

.mobile-card-amount .cart-item-amount-btn:first-child {
	border-radius: 10px 10px 0 0;
}

.mobile-card-amount .cart-item-amount-btn:last-child {
	border-radius: 0 0 10px 10px;
}

.desktop-card-amount {
	display: flex !important;
	overflow: hidden;
	text-align: center;
	user-select: none;
	height: 43px;
	margin-top: 10px;
}

.desktop-card-amount > input {
	border-left: none;
	border-right: none;
}

.desktop-card-amount .cart-item-amount-btn:first-child {
	border-radius: 0 10px 10px 0;
}

.desktop-card-amount .cart-item-amount-btn:last-child {
	border-radius: 10px 0 0 10px;
}

#cart-suggestions-showcases .product-showcase .product-showcase-add-to-cart.bottom svg {
	margin-left: 5px;
	font-size: 1rem;
}

/* Slider */
#slider-wrap {
	position: relative;
}

#slider-items {
	display: flex;
	overflow-x: hidden;
}

.slider-item {
	min-width: 100vw;
	width: 100%;
	background-size: cover;
	position: relative;
	color: #fff;
	padding: 110px 180px;
	box-sizing: border-box;
	transition: 0.2s ease-in-out;
	height: 600px;
	max-height: 65vh;
	background-size: cover !important;
	background-position: center !important;
}

#slider-arrows {
	display: flex;
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	padding: 0 50px;
	color: #fff;
	z-index: 9999;
	justify-content: space-between;
	font-size: 28px;
	transform: translateY(-50%);
}

.slider-arrow {
	cursor: pointer;
}

#product-search-input {
	padding: 14px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-top: 20px;
}

/* Product Showcase */
.product-showcase {
	background-color: #fff;
	padding: 15px 25px;
	border-radius: 15px;
	box-shadow: 0 0 30px #9a9a9a3b;
	text-align: center;
	position: relative;
}

.product-description {
	margin-top: 5px;
	color: #444;
	font-weight: bold;
	margin-bottom: -10px;
}

.showcase-price {
	display: none;
}

.showcase-price.db {
	display: inline-block;
}
.old-price {
	text-decoration: line-through;
	color: #979797;
	font-size: 0.9rem;
}

.new-price {
	font-weight: bold;
	margin-right: 5px;
}

.sale-badge {
	position: absolute;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	top: -10px;
	left: -10px;
	background-color: #4caf50;
	color: #fff;
	font-weight: bold;
	font-size: 0.7rem;
	z-index: 9999;
	display: none;
}

.sale-badge.vis {
	display: block;
}

.product-showcase .product-showcase-image {
	height: 170px;
	max-height: 170px;
}

.product-showcase .product-showcase-image span {
	max-height: 100%;
	display: block;
}

.product-showcase .product-showcase-image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.discount-badge {
	position: absolute;
	top: 129px;
    right: 50%;
    z-index: 999;
    background: #ffebeb;
    padding: 6px 15px;
    font-size: .8rem;
    font-weight: 700;
    color: #e15856;
    border-radius: 5px;
    text-align: center;
    transform: translateX(50%);
	font-weight: bold;
	box-shadow: 0 0 11px #84848452;
}

.cart-item-amount-wrap {
	width: 100%
}

.product-showcase .cart-item-amount-wrap .cart-item-amount {
	width: 100%;
}

.product-showcase-name {
	font-weight: bold;
	font-size: 1.3rem;
	color: #121212;
}

.product-showcase-pric {
	margin-bottom: 5px;
}

.product-description-badge {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #121212;
	z-index: 999;
	height: 15px;
	width: 15px;
	box-shadow: 0 0 20px rgba(42, 42, 42, 0.366);
	border-radius: 50%;
}

@keyframes addToCartAnimation {
	0% {
		transform: scale(1)	
	} 75% {
		left: 20px;
		top: 15px;
		transform: scale(0.8);
	} 90% {
		left: 20px;
		top: 15px;
		transform: scale(0.7);
		opacity: 0.6;
	} 95% {
		left: 20px;
		top: 15px;
		transform: scale(0);
	} 100% {
		left: 20px;
		top: 15px;
		transform: scale(0)	;
	}
}

@keyframes addToCartAnimationBig {
	0% {
		transform: scale(1)	
	} 75% {
		left: calc(50% - 750px);
		top: 15px;
		transform: scale(0.8);
	} 90% {
		left: calc(50% - 750px);
		top: 15px;
		transform: scale(0.7);
		opacity: 0.6;
	} 95% {
		left: calc(50% - 750px);
		top: 15px;
		transform: scale(0);
	} 100% {
		left: calc(50% - 750px);
		top: 15px;
		transform: scale(0)	;
	}
}

.add-to-cart-animation-item {
	position: fixed;
	z-index: 9999999;
	animation: addToCartAnimation 0.8s linear 0.3s 1 normal forwards;
	transform: scale(1);
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
}

@media screen and (min-width: 1550px) {
	.add-to-cart-animation-item {
		animation: addToCartAnimationBig 0.8s linear 0.3s 1 normal forwards;
	}
}

.add-to-cart-animation-item img {
	object-fit: contain;
	height: 100%;
}

.product-showcase .product-showcase-add-to-cart {
	border-radius: 40px;
	font-size: 14px;
	padding: 8px 10px;
}

/* Products section */
#home-main-content {
	width: 100%;
	padding-top: 50px;
}

#our-products-title {
	text-align: center;
	margin-top: 40px;
	color: #121212;
}

.main-products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
	padding: 0 20px;
}

.main-products-list.sec {
	padding: 0;
}

.homepage-section-title {
	margin-top: 15px;
}

.main-products-list .product-showcase {
	width: calc(20% - 70px);
	margin-bottom: 25px;
}

.main-products-list .product-showcase:not(:nth-child(5n)) {
	margin-left: 10px;
}

.main-products-list .product-showcase:nth-child(5n) {
	margin-left: 35px;
}

#home-pagination {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap;
}

.pagination-item {
	padding: 13px 15.5px;
	border-radius: 50%;
	line-height: 13px;
	cursor: pointer;
	user-select: none;
}

.pagination-item.active {
	background-color: #4caf50;
	color: #fff;
}

#main-products-category-filters {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 10px;
	max-width: 600px;
	flex-wrap: wrap;
}

.main-product-category-filter {
	margin: 0 8px;
	padding: 7px 20px;
	border-radius: 40px;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0 0 30px #9a9a9a3b;
	cursor: pointer;
}

.main-product-category-filter.active {
	background-color: #4caf50;
	font-weight: bold;
	color: #fff;
}

/* About page */
#about-wrap {
	padding: 20px 0;
}

#about-wrap h1 {
	margin-bottom: 20px;
}

/* Order form */
.hidden {
	display: none;
}

#order-form,
#payment-form {
	background-color: #fff;
	position: fixed;
	z-index: 999999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 30px #9a9a9a3b;
	width: 400px;
	max-width: 82%;
	max-height: 70%;
	overflow-y: auto;
}

#order-choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 0;
}

#order-choices > div {
	width: 32%;
}

.gift-choice {
	text-align: center;
	border-radius: 4px;
	border: 2px solid #ebebeb;
	padding: 10px 0;
	font-size: 0.8rem;
	user-select: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.gift-choice.selected {
	border-color: #4caf50;
}

.gift-choice img {
	height: 50px;
	width: 100px;
	max-width: 100%;
	object-fit: contain;
}

.gift-choice p {
	height: 2rem;
}

#arrival-msg-order {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-align: center;
}

#payment-form {
	height: 90%;
	max-height: 90%;
}

#payment-form iframe {
	width: 100%;
	height: 100%;
}

#order-form .input-group {
	width: 100%;
	margin-bottom: 10px;
}

#order-form .order-select {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ebebeb;
	width: 100%;
	box-sizing: border-box;
}

#shipping-msg {
	text-align: center;
	margin-bottom: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	color: #ad2727;
}

#order-fields-msg {
	text-align: center;
	margin-bottom: 5px;
}

#order-form-submits {
	display: flex;
	flex-direction: row;
}

#order-form-submits .bit {
	background-color: #35a1ab;
}

#order-form input,
#order-form textarea {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ebebeb;
	width: 100%;
	box-sizing: border-box;
}

#order-form input[type="checkbox"] {
	display: inline-block;
	width: auto;
}

#order-form input[type="submit"]:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

#order-form input.empty {
	border: 1px solid tomato;
}

#order-form-feedback {
	margin-bottom: 10px;
}

.grow {
	animation-name: grow;
	animation-duration: 0.5s;
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#about-image {
	width: 100%;
	max-height: 450px;
	object-fit: cover;
	object-position: top;
}

#about-image-wrap {
	position: relative;
}

#about-image-wrap:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	max-height: 450px;
}

#about-image-wrap:after {
	content: "אודות";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	z-index: 999;
}

/* Thanks page */
#thanks-page {
	text-align: center;
	padding-top: 30px;
}

/* Discount tab */
#new-discount-form {
	margin-top: 20px;
	margin-bottom: 30px;
}

#new-discount-form input,
#new-discount-form select {
	width: 100%;
	padding: 7px 10px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin-top: 10px;
	box-sizing: border-box;
}

#bottom-contact {
	text-align: center;
	margin-top: 20px;
	margin-bottom: -10px;
	font-weight: bold;
}

#category-hero-wrap {
	position: relative;
	margin-bottom: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	height: 300px;
}

#category-hero-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	color: #fff;
	font-size: 30px;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#category-hero-wrap img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.infinite-scroll-component  {
	overflow-x: hidden !important
}

/* Search results */
#search-closer {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#header-search-results {
	position: absolute;
	top: 40px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 15px #12121244;
	background-color: #fff;
}

#header-search-results .sale-badge {
	display: none;
}

#header-search-results .product-showcase-add-to-cart-form {
	position: absolute;
	top: 10px;
	left: 10px;
	display: none;
	transition: 0.3s ease-in-out;
}

#header-search-results .product-showcase .product-showcase-image {
	height: 60px;
	width: 60px;
	margin-left: 5px;
}

#header-search-results .product-showcase {
	display: flex;
	align-items: center;
	box-shadow: none;
	border-radius: 0;
	padding: 10px;
}

#header-search-results .cart-item-form-amount-content {
	display: none;
}

#header-search-results .product-showcase-name {
	text-align: right;
	margin-right: 5px;
	max-width: 80%;
}

#header-search-results .product-showcase-price {
	color: #121212;
	text-align: right;
	margin-right: 5px;
	display: block;
}

#header-search-results-wrap {
	max-height: 410px;
	overflow-y: auto;
}

#header-search-results-wrap .product-showcase {
	min-height: 100px
}

#mobile-nav, #mobile-nav-bg {
	display: none;
}

/* Product strip */
.products-strip-list .product-showcase {
	margin-left: 15px;
	width: auto !important;
}

.products-strip-slider {
	padding: 15px 0 !important;
}

.cute-btn, .products-strip .products-strip-arrows .products-strip-see-all-link {
	height: 35px;
	border: none;
	background-color: #0e5f2c;
	color: #fff;
	border-radius: 5px 0 0 5px;
	padding: 0 10px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.cute-btn:hover, .products-strip .products-strip-arrows .products-strip-see-all-link:hover {
	background-color: #0c5326;
}

.products-strip, .recipes-strip, .categories-strip {
position: relative;
overflow-x: hidden;
margin-top: 20px; }
.products-strip > h2, .recipes-strip > h2, .categories-strip > h2 {
	font-size: 1.7rem;
	margin-bottom: 15px;
}

.products-strip .products-strip-slider, .products-strip .recipes-strip-slider, .products-strip .categories-strip-slider, .recipes-strip .products-strip-slider, .recipes-strip .recipes-strip-slider, .recipes-strip .categories-strip-slider, .categories-strip .products-strip-slider, .categories-strip .recipes-strip-slider, .categories-strip .categories-strip-slider {
	overflow-x: scroll;
}

.products-strip .recipes-strip-slider, .products-strip .categories-strip-slider {
	border: none !important;
}

.products-strip .products-slider-container {
	box-sizing: border-box;
}

.products-strip .react-multi-carousel-list {
	overflow: visible;
}

.products-strip .products-strip-arrows {
	position: absolute;
	left: -10px;
	top: 5px;
	margin-top: -50px;
	z-index: 999;
	display: flex;
	align-items: center;
}

.products-strip .products-strip-arrows .products-strip-arrow {
	margin-left: 10px;
	font-size: 1.1rem;
	color: #444;
	background-color: #ebebeb;
	border: none;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products-strip .products-strip-arrows .products-strip-arrow:disabled {
	opacity: 0.6;
}

.products-strip .product-showcase {
	user-select: none;
}
		
.products-strip .product-showcase img {
	pointer-events: none;
}

.products-strip .products-strip-arrows .products-strip-see-all-link {
	background-color: #0e5f2c;
	margin-left: 15px;
	border-radius: 10px;
	align-items: center;
	display: flex;
	color: #fff;
	height: 30px;
	padding: 5px 13px;
	font-weight: bold;
	font-size: 1rem;
}

.products-strip .products-strip-arrows .products-strip-see-all-link svg {
	margin-right: 5px;
}
