@media screen and (max-width: 1440px) {
    .container {
        max-width: 1250px !important;
    }
}

@media screen and (max-width: 768px) {
    .main-products-list {
        padding: 0 10px !important;
        box-sizing: border-box;
    }

    .main-products-list .product-showcase:not(:nth-child(5n)) {
        margin-left: 0;
    }

    .main-products-list .product-showcase:nth-child(5n) {
        margin-left: 0;
    }

    .cart-item-form-amount {
        background-color: transparent;
        flex-direction: column;
    }

    .cart-item-form-amount-content {
        width: 90px;
        margin: auto;
        margin-bottom: 10px;
    }

    .main-products-list .product-showcase-price {
        margin-bottom: 75px;
    }

    .cart-item-form-amount input {
        background-color: transparent;
    }

    .product-showcase .product-showcase-add-to-cart {
        font-size: 15px;
    }

    .main-products-list .product-showcase {
        width: calc(50% - 55px);
    }

    .product-showcase-add-to-cart-form {
        flex-direction: column;
    }

    .product-showcase .product-showcase-add-to-cart {
        /* width: 100%; */
        max-width: 100%;
    }

    .slider-item {
        min-height: 250px;
    }

    #slider-arrows {
        padding: 0 20px;
    }

    #header {
        height: 80px;
        box-sizing: border-box;
    }

    #header-links {
        display: none;
    }

    #header-links.active {
        position: fixed;
        top: 135px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #efefef;
    }

    .header-link.active:after {
        display: none;
    }

    .header-link {
        display: inline-block;
        padding: 10px;
        margin-bottom: 5px;
    }

    #header-logo {
        position: fixed;
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
    }

    #header-logo img {
        margin-left: 0;
    }

    #mobile-menu-tog {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #mobile-menu-tog span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #121212;
        margin-bottom: 8px;
    }

    #header-cart-icon {
        margin-top: 10px;
    }

    .website-content {
        padding-top: 80px;
    }

    #cart-suggestions {
        display: none;
    }

    .main-products-list .product-showcase:not(:nth-child(4n)) {
        margin-left: 0;
    }

    #header-bottom {
        display: none;
    }

    #header-search-wrap {
        /* display: none; */
        top: 85px;
        padding: 10px;
        left: 0;
        right: 0;
        position: fixed;
        margin-left: 0;
        background-color: #fff;
        z-index: 999999;
    }

    #header-search-wrap input[type="text"] {
        width: 100%
    }

    #header-search-results {
        top: 70px;
        left: 10px;
        width: auto;
        right: 10px;
    }
    
    #header-logo img {
        height: 90px;
        position: fixed;
        z-index: 99999999;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 768px) {
    #header-links .dropdown-link {
        display: none;
    }
}