.show-mobile, .discount-badge-mobile {
    display: none !important;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1250px !important;
    }
}

@media screen and (max-width: 768px) {
    .show-mobile {
        display: block !important;
    }

    .hide-mobile {
        display: none !important;
    }

    .mobile-add-to-cart-btn, .mobile-card-amount {
        display: flex !important;
    }

    .main-products-list {
        padding: 0 10px !important;
        box-sizing: border-box;
        flex-direction: column;
    }

    .product-showcase {
        width: calc(100% - 35px) !important;
        display: flex;
        flex-direction: row;
        padding: 15px !important;
        align-items: center;
    }

    .product-showcase-textuals {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        text-align: right;
        justify-content: center;
        margin-right: 10px;
    }

    .product-showcase-image {
        width: 110px !important;
        height: 110px !important;
        position: relative;
    }

    .product-showcase-add-to-cart-form {
        display: none;
    }

    .discount-badge {
        display: none !important;
    }

    .product-showcase-name {
        max-width: 80%;
    }

    .discount-badge-mobile {
        display: block !important;
        margin-top: 5px;
        color: #999;
    }

    .main-products-list .product-showcase:not(:nth-child(5n)) {
        margin-left: 0;
    }

    .main-products-list .product-showcase:nth-child(5n) {
        margin-left: 0;
    }

    .cart-item-form-amount {
        background-color: transparent;
        flex-direction: column;
    }

    .cart-item-form-amount-content {
        width: 90px;
        margin: auto;
        margin-bottom: 10px;
    }

    .main-products-list .product-showcase-price {
        margin-bottom: 0;
    }

    .cart-item-form-amount input {
        background-color: transparent;
    }

    .product-showcase .product-showcase-add-to-cart {
        font-size: 15px;
    }

    .main-products-list .product-showcase {
        width: calc(50% - 55px);
    }

    .product-showcase-add-to-cart-form {
        flex-direction: column;
    }

    .product-showcase .product-showcase-add-to-cart {
        /* width: 100%; */
        max-width: 100%;
    }

    .slider-item {
        min-height: 250px;
    }

    #slider-arrows {
        padding: 0 20px;
    }

    #header {
        height: 80px;
        box-sizing: border-box;
    }

    #header-links {
        display: none;
    }

    #header-links.active {
        position: fixed;
        top: 135px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #efefef;
    }

    .header-link.active:after {
        display: none;
    }

    .header-link {
        display: inline-block;
        padding: 10px;
        margin-bottom: 5px;
    }

    #header-logo {
        position: fixed;
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
    }

    #header-logo img {
        margin-left: 0;
    }

    #mobile-menu-tog {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #mobile-menu-tog span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 8px;
    }

    #header-cart-icon {
        margin-top: 10px;
    }

    .website-content {
        padding-top: 80px;
    }

    #cart-suggestions {
        display: none;
    }

    .main-products-list .product-showcase:not(:nth-child(4n)) {
        margin-left: 0;
    }

    #header-bottom {
        display: none;
    }

    #header-search-wrap {
        /* display: none; */
        top: 85px;
        padding: 10px;
        left: 0;
        right: 0;
        position: fixed;
        margin-left: 0;
        background-color: #fff;
        z-index: 999999;
    }

    #header-search-wrap > input[type="text"] {
        width: 100%
    }

    #header-search-results {
        top: 70px;
        left: 10px;
        width: auto;
        right: 10px;
    }
    
    #header-logo img {
        height: 90px;
        position: fixed;
        z-index: 99999999;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    #mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 80vw;
        background-color: #fff;
        z-index: 99999999;
        transition: 0.3s ease-in-out;
    }

    #mobile-nav.active {
        right: 0;
        left: auto
    }

    #mobile-nav #mobile-nav-header {
        background-color: #4caf51;
        display: flex;
        padding: 15px;
        color: #fff;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    #mobile-nav #mobile-nav-header svg {
        margin-top: 3px;
    }

    #mobile-nav-bg.active {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999999;
        transition: 0.3s ease-in-out;
    }

    #mobile-nav-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #4caf51;
        padding: 15px;
        text-align: center
    }

    #mobile-nav-links {
        margin-top: 10px;
        max-height: 100%;
        overflow-y: auto;
    }

    #mobile-nav-links .mobile-nav-link {
        display: block;
        padding: 10px;
        position: relative;
    }

    #mobile-nav-links .mobile-nav-link:not(:last-child) {
        border-bottom: 1px solid #ebebeb
    }

    #mobile-nav-links .mobile-nav-link.category .icon {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%)
    }

    #mobile-nav-links .category-dropdown {
        display: none;
    }

    #mobile-nav-links .category-dropdown.active {
        display: block;
    }

    #mobile-nav-links .category-dropdown a {
        display: block;
        padding: 10px;
    }

    #mobile-nav-links .category-dropdown a:not(:last-child) {
        border-bottom: 1px solid #ebebeb
    }

    .products-strip {
        /* padding: 10px; */
    }

    .products-strip-item {
        padding-right: 10px;
        width: calc(100vw - 20px) !important
    }

    .products-strip-title {
        padding: 10px;
    }

    .products-strip .products-strip-arrows {
        left: 0;
        top: -5px;
    }
}

@media screen and (min-width: 768px) {
    #header-links .dropdown-link {
        display: none;
    }
}